{% load staticfiles %}
{% load i18n %}
<title>Login please</title>

<link rel="stylesheet" href="{% static 'assets/css/pages/page_log_reg_v2.css' %}">
{% include "head.html" %}


<body>
  <!--=== Content Part ===-->
  <div class="container">
    <!--Reg Block-->
    <div class="reg-block">
      {% if not user.is_authenticated %}
      <div class="reg-block-header">
        <h2>Sign In</h2>
        <p>Don't Have an Account? Click <a href="{% url 'registration_register' %}">Sign Up</a> to register.</p>
        <p>Forgot your password? <a href="{% url 'password_reset' %}">Click here</a> to reset your password.</p>
      </div>
      <form action="{% url 'auth_login' %}" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error|escape }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="input-group margin-bottom-20">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" placeholder="Username" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}">
        </div>
        {% if form.username.errors %}
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error|escape }}
            </div>
        {% endfor %}
        {% endif %}

        <div class="input-group margin-bottom-20">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" placeholder="Password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}">
        </div>
        {% if form.password.errors %}
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error|escape }}
            </div>
        {% endfor %}
        {% endif %}

        <hr>
        {% comment "We don't need this for now. To enable, make sure to next div's col to md-6" %}
        <div class="checkbox">
          <label>
            <input type="checkbox">
            <p>Always stay signed in</p>
          </label>
        </div>
        {% endcomment %}

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <input type="submit" class="btn-u btn-block" value="{% trans 'Log in' %}" />
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </div>
      </form>
      {% else %}
        <div class="reg-block-header">
          <h2>You are already logged in</h2>
        </div>
        <p>
          <h4 style="text-align: center;">
            Please click the below button to return to where you've come from
          </h4>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <button type="button" class="btn-u btn-block" onclick="window.history.back();">Back</button>
            </div>
          </div>
        </p>
      {% endif %}
    </div>
    <!--End Reg Block-->
  </div><!--/container-->
  <!--=== End Content Part ===-->
</body>

{% include "foot.html" %}
{% include "registration/registration_foot.html" %}
