{% load staticfiles %}
{% load i18n %}
{% load extras %}

<link rel="stylesheet" href="{% static 'assets/css/pages/page_log_reg_v2.css' %}">
{% include "head.html" %}

{% block title %}
    <title>{% trans "Password reset" %}</title>
{% endblock %}

{% block main %}
<div class="container content">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form method="post" action="" class="reg-block">
          <div class="reg-header">
            <h2>Password Reset</h2>
          </div>
          <hr>
          <p>
              {% blocktrans %}
              We have sent you an email with a link to reset your password. Please check
              your email and click the link to continue.
              {% endblocktrans %}
          </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% include "foot.html" %}
{% include "registration/registration_foot.html" %}
