{% load staticfiles %}
{% load i18n %}
{% load extras %}

<link rel="stylesheet" href="{% static 'assets/css/pages/page_log_reg_v2.css' %}">
{% include "head.html" %}

{% block title %}
    <title>Password reset</title>
{% endblock %}

{% block main %}
<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="row text-center">
            <form method="post" action="" class="reg-block">
                <div class="reg-header">
                    <h2>Forgot your password?</h2>
                <p>Please enter your email to reset your password</p>
                </div>
                <hr>
                {% csrf_token %}
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" placeholder="Enter your email address" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}">
                </div>
                <input type="submit" class="btn-u btn-u-blue square" value="{% trans 'Reset password' %}" />
            </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% include "foot.html" %}
{% include "registration/registration_foot.html" %}
