{% extends "admin/change_form.html" %}
{% load static %}
{% load extras %}

{% block after_field_sets %}
<input type="hidden" id="duration_id" name="duration">
<input type="hidden" id="distance_id" name="distance">
<script type="text/javascript" src={% static "assets/plugins/jquery/jquery.js" %}></script>
<script type="text/javascript" src={% static "assets/js/travel_time.js" %}></script>
<script type="text/javascript" src={% static 'assets/js/maps.js' %}></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&key={% google_api %}&libraries=places&callback=initMap" async defer></script>
<script type="text/javascript">
    $(function() {
        main();
    });
</script>
{% endblock %}
