{% load staticfiles %}
<!-- Core JS -->
<script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery-migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{% static 'assets/plugins/back-to-top.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/smoothScroll.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script> -->
<!-- JS Customization -->
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
